<app-nav-bar></app-nav-bar>

<div class="container my-5">
    <div class="row gy-5 align-items-center">
        <div class="col-md-5 col-sm-12">
            <img src="assets/images/maksim4.jpg" class="object-fit-cover" alt="" style="border-radius: 15px; width: 545px; height: 480px">

        </div>

        <div class="col-md-5 col-sm-12 gy-10 align-items-center" style="margin-left: 80px;">
            <p style="color: rgb(255, 196, 0);">SNEAKER COMPANY<p>
            <h1>Fall Limited edition<br> Sneakers</h1>
            <p style="color: rgb(110, 110, 179);">
                Tehse low-profile Sneakers are you perfect casual wear<br> xompamion. Featuring a durable rubber outer sole, they'll<br> withstand everything the weather can offer.
            </p>
            <h2>$125.00 <span style="color: rgb(255, 187, 0); background-color: rgb(255, 237, 255); font-size: 20px; margin-left: 25px; border-radius: 15%;"> 50% </span></h2>
            <p style="color: rgb(109, 109, 252);"><del>$250.00</del></p>

            <div class="row">
                <div class="col-md-4 col-sm-6 mb-3">
                    <p style="background-color: antiquewhite; border-radius: 10px; height: 60px;">
                        <button type="reset" class="btn mx-3" style="color: rgb(240, 187, 13); align-items: flex-start; height: 60px; font-weight: bold;"> - </button><span style="font-weight: bold;">  0 </span> 
                        <button type="submit" class="btn mx-3" style="color: rgb(219, 171, 13); align-items: flex-end; height: 60px; font-weight: bold;"> + </button>
                    </p>
                </div>
                <div class="col-md-8 col-sm-6 mb-3">
                    <button class="btn btn-warning" type="submit" style="color: white; height: 60px; width: 250px;"><span><i class="fa-solid fa-cart-shopping" ></i></span> add to cart </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-6">
            <div class="row">
                <div class="col-md-2 col-sm-8 mt-3">
                    <img src="assets/images/maksim3.jpg" alt="" 
                    style="border-color: brown; width: 100px; height: 90px; 
                    opacity: 35%; border-style: solid; border-radius: 15px;" class="object-fit-cover">

                </div>
                <div class="col-md-2 col-sm-8 mt-3">
                    <img src="assets/images/maksim1.jpg" alt="" style="border-radius: 15px; width: 100px; height: 90px;" class="object-fit-cover" >

                </div>
                <div class="col-md-2 col-sm-8 mt-3">
                    <img src="assets/images/maksim2.jpg" alt="" style="border-radius: 15px; width: 100px; height: 90px;" class="object-fit-cover">
                </div>
                <div class="col-md-2 col-sm-8 mt-3">
                    <img src="assets/images/maksim4.jpg" alt="" style="border-radius: 15px; width: 100px; height: 90px;" class="object-fit-cover">

                </div>

            </div>
            
        </div>
        <div class="col">

        </div>

    </div>
</div>


