
/* @import "bootstrap/dist/js/bootstrap.bundle.min.js"; */
/* .shoes {
    margin: 10px;
    padding: 5px;

} */

.bleu-p {
    color: rgb(67, 94, 124);
}

.mx-3 {
    color: rgb(240, 187, 13); 
    align-items: flex-start; 
    height: 60px; 
    font-weight: bold;
}

.object-fit-cover {
    border-radius: 15px; 
    width: 100px; 
    height: 90px;
}