<app-nav-bar></app-nav-bar>

<div class="container my-5">
    <div class="row gy-4 align-items-center" style="margin-left: 70px;">
        <div class="col-md-5 col-sm-12">
            <img src="assets/images/maksim4.jpg" class="object-fit-cover" alt="" style="border-radius: 15px; width: 520px; height: 480px">

        </div>

        <div class="col-md-5 col-sm-12 gy-10 align-items-center" style="margin-left: 120px; font-size: 15px;">
            <p style="color: rgb(255, 196, 0);">SNEAKER COMPANY<p>
            <h1>Fall Limited edition<br> Sneakers</h1>
            <p class="bleu-p">
                Tehse low-profile Sneakers are you perfect casual wear<br> xompamion. Featuring a durable rubber outer sole, they'll<br> withstand everything the weather can offer.
            </p>
            <h2>$125.00 <span style="color: rgb(255, 187, 0); background-color: rgb(255, 237, 255); font-size: 20px; margin-left: 25px; border-radius: 15%;"> 50% </span></h2>
            <p class="bleu-p"><del>$250.00</del></p>

            <div class="row">
                <div class="col-md-4 col-sm-6 mb-3">
                    <p style="background-color: rgb(250, 241, 214); border-radius: 10px; height: 60px;">
                        <button type="reset" class="btn mx-3"> - </button><span style="font-weight: bold;">  0 </span> 
                        <button type="submit" class="btn mx-3"> + </button>
                    </p>
                </div>
                <div class="col-md-8 col-sm-6 mb-3">
                    <button class="btn" type="submit" style="color: white; height: 60px; width: 300px; border-radius: 10px; background-color: rgb(228, 176, 6);"><span><i class="fa-solid fa-cart-shopping px-2" ></i></span> add to cart </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 70px;">
        <div class="col-md-8 col-sm-6">
            <div class="row">
                <div class="col-md-2 col-sm-8 mt-3">
                    <img src="assets/images/maksim3.jpg" alt="" 
                    style="border-color: brown; opacity: 35%; border-style: solid;" class="object-fit-cover">

                </div>
                <div class="col-md-2 col-sm-8 mt-3">
                    <img src="assets/images/maksim1.jpg" alt="" class="object-fit-cover" >

                </div>
                <div class="col-md-2 col-sm-8 mt-3">
                    <img src="assets/images/maksim2.jpg" alt="" class="object-fit-cover">
                </div>
                <div class="col-md-2 col-sm-8 mt-3">
                    <img src="assets/images/maksim4.jpg" alt="" class="object-fit-cover">

                </div>

            </div>
            
        </div>
        <div class="col">

        </div>

    </div>
</div>


