<!-- <p>about works!</p> -->
<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="card mb-3" style="max-width: 950px;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="assets/images/portfolio/portrait6.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">About</h5>
              <p class="card-text">Photographe depuis plus de 5 ans, je réalise des reportages aux photos dynamiques et pertinentes
                pour
                vos
                projets de communication. Créativité, qualité, et sérénité pour vous! Je gère tout, depuis la
                direction
                artistique, la réalisation du reportage jusqu’à la livraison de vos photos retouchées, prêtes à
                l’emploi.
              </p>
              <h2 class="card-title">Services</h2>
                <ul>
                    <li>Portrait seul ou à plusieurs</li>
                    <li>Shooting mode</li>
                    <li>Retouches sur mesure</li>
                    <li>Développement</li>
                </ul>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
    </div>

    <!-- <div class=" card card-footer text-muted">
        <a target="_blank" href="https://twitter.com/" class="card-link float-end">
            <img src="assets/images/twitter.png" alt="Logo Twitter" >
        </a>
        <a target="_blank" href="https://www.instagram.com/" class="card-link float-end">
            <img src="assets/images/instagram.png" alt="Logo Instagram" >
        </a>
        
    </div> -->
</div>
