<!-- <p>women works!</p> -->
<app-nav-bar></app-nav-bar>
<!-- <div class="container my-5 py-10">
    <div class="table-responsive">
        <table class="table caption-top table-striped table-dark">
            <caption>List of Muscles</caption>
            <thead class="table-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Muscle</th>
                    <th scope="col">Equipment</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Instructions</th>
                </tr>
            </thead>
            <tbody class="table-secondary">
                <tr *ngFor="let muscle of muscles">
                    <td>{{  muscle.name }}</td>
                    <td>{{ muscle.type  }}</td>
                    <td>{{ muscle.muscle }}</td>
                    <td> {{muscle.equipment}} </td>
                    <td> {{muscle.difficulty}} </td>
                    <td> {{muscle.instructions}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<div class="container">
    <div class="row row-cols-2 row-cols-md-4 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/shoes/shoes21.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/shoes/shoes22.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/shoes/shoes23.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/shoes/shoes29.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/fashions/fashion18.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/fashions/fashion11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/fashions/fashion7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/fashions/fashion21.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/fashions/fashion16.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/fashions/fashion17.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/fashions/fashion3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/fashions/fashion23.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/fashions/fashion26.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/fashions/fashion29.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/fashions/fashion8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/fashions/fashion12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SNEAKER COMPANY</h5>
            <p class="card-text">Tehse low-profile Sneakers are you perfect casual wear xompamion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
            <h6>Price: $150</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
